<a href="https://colab.research.google.com/github/s10955028/bigdata/blob/main/%E3%80%8C0309_ipynb%E3%80%8D%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

變數練習

In [5]:
a <- 5
b <- 3.8
c <- -1

In [6]:
str(a)
str(b)
str(c)

 num 5
 num 3.8
 num -1

In [7]:
is.numeric(a)

[1] TRUE

In [8]:
is.integer(a)

[1] FALSE

In [11]:
d <- "Hello"
e <- "Hi"

In [12]:
str(d)
str(e)

 chr "Hello"
 chr "Hi"

In [15]:
f <- c(5,4,3,2,1)
g <- c("陳昱臻","陳韋臻","陳雙雙")

In [17]:
f[2]
g[1]
g[c(2,3)]

[1] 4

[1] "陳昱臻"

[1] "陳韋臻" "陳雙雙"

In [18]:
h <- c(1,2,3,4,5,6,7,8,9)
i <- c(2,3,4,5,6,7,8,9,10)

In [ ]:
h*i
h^3
i>5

In [24]:
gender <- c("男","女","男","男","女","中")
gender <- factor(gender)

In [23]:
gender
levels(gender)

[1] 男 女 男 男 女 中
Levels: 中 女 男

[1] "中" "女" "男"

In [22]:
j <- matrix(c(1:6),nrow=3,ncol=2)

In [25]:
j

     [,1] [,2]
[1,] 1    4
[2,] 2    5
[3,] 3    6

In [26]:
k <- matrix(c(7:12),nrow=2,ncol=3)

In [27]:
k

     [,1] [,2] [,3]
[1,] 7     9   11
[2,] 8    10   12

In [28]:
j[2,2]
j[2,]
j[,2]

[1] 5

[1] 2 5

[1] 4 5 6

In [ ]:
tmp <- data.frame(Student_ID=c(1,2,3,4,5),
name=c("wenny","vicky","double","lisa","amy"),
score=c(88,65,78,84,94))

In [37]:
library(SportsAnalytics)
NBA1516<-fetch_NBAPlayerStatistics("15-16")

In [38]:
str(NBA1516)

'data.frame':	476 obs. of  25 variables:
 $ League             : Factor w/ 1 level "NBA": 1 1 1 1 1 1 1 1 1 1 ...
 $ Name               : chr  "Quincy Acy" "Jordan Adams" "Steven Adams" "Arron Afflalo" ...
 $ Team               : Factor w/ 31 levels "ATL","BOS","BRO",..: 27 15 22 20 19 13 28 26 12 15 ...
 $ Position           : Factor w/ 5 levels "C","PF","PG",..: 4 5 1 5 1 1 2 2 2 5 ...
 $ GamesPlayed        : int  59 2 80 71 59 60 74 9 79 64 ...
 $ TotalMinutesPlayed : int  877 15 2019 2359 863 802 2260 37 1601 1622 ...
 $ FieldGoalsMade     : int  119 2 261 354 150 134 536 5 191 215 ...
 $ FieldGoalsAttempted: int  214 6 426 799 314 225 1045 10 370 469 ...
 $ ThreesMade         : int  19 0 0 91 0 0 0 0 0 15 ...
 $ ThreesAttempted    : int  49 1 0 238 1 0 16 0 0 42 ...
 $ FreeThrowsMade     : int  50 3 114 110 52 60 259 0 46 90 ...
 $ FreeThrowsAttempted: int  68 5 196 131 62 84 302 0 73 138 ...
 $ OffensiveRebounds  : int  65 0 218 23 75 86 175 2 162 104 ...
 $ TotalRebounds      : int  188 2 531 266 269 288 631 6 424 297 ...
 $ Assists            : int  27 3 61 145 32 50 110 0 76 70 ...
 $ Steals             : int  29 3 42 25 19 47 38 1 26 109 ...
 $ Turnovers          : int  27 2 84 82 54 64 99 1 69 78 ...
 $ Blocks             : int  24 0 89 10 36 68 81 2 42 18 ...
 $ PersonalFouls      : int  103 2 223 142 134 139 151 1 147 175 ...
 $ Disqualifications  : int  0 0 2 1 0 1 0 0 1 1 ...
 $ TotalPoints        : int  307 7 636 909 352 328 1331 10 428 535 ...
 $ Technicals         : int  3 0 2 1 2 0 0 0 0 1 ...
 $ Ejections          : int  0 0 0 0 0 0 0 0 0 0 ...
 $ FlagrantFouls      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ GamesStarted       : int  29 0 80 57 17 5 74 0 28 56 ...

In [40]:
NBA1516

ERROR: ignored